{% extends 'layout.html' %}

{% block body %}
	
	<br>
	<h1>Add Quote</h1>
	{% from 'includes/_formhelpers.html' import render_field %}
	<form method="POST" action="" id="add_quote">
		<div class="form-group">
			{{ render_field(form.firstName, class="form-control", id="firstName") }}
		</div>
		<div class="form-group">
			{{ render_field(form.lastName, class="form-control", id="lastName") }}
		</div>
		<div class="form-group">
			{{ render_field(form.text, class="form-control", id="writeQuote") }}
		</div>
		<p><input class="btn btn-primary" type="submit" value="Submit", id="addQuoteSubmit"></p>
	</form>

{% endblock %}